<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app">
    <h4>{{product}}</h4>
    <img src="http://via.placeholder.com/350x150" :alt="imageDesc()" :title="imageDesc()">
    <p>{{description}}</p>

    <!--More complex conditional rendering with if, else-if, and else. -->
    <p v-if="stock > 10">In Stock</p>
    <p v-else-if="stock < 10 && stock > 0">Almost sold out!</p>
    <p v-else="stock">Out of Stock</p>
    <p v-if="stock">{{price.currency + price.main + '.' + price.fractional }}</p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        product: 'Toller Artikel',
        description: 'Sein Geld wert.',
        price: {
          main: 10,
          fractional: 20,
          currency: 'US$'
        },
        stock: 100
      },
      methods: {
        imageDesc: function () {
          return this.product + ' - ' + this.description;
        }
      }
    })
  </script>
</body>

</html>